---
title: The Joe M Horvath Gallery
---
<h1>Gallery</h1>

<div class="slideContainer">
  <div class="sideNav">
    <a onclick="plusDivs(-1)">&nbsp;&#10094;&nbsp;</a>
  </div>

  <div class="w3-content">
    {% for artwork in site.art %}
    <div class="mySlides w3-container" style="display: none;">
      <figure class="slideImage">
        <a href="#{{ artwork.title | capitalize | replace: ' ','' }}Slide">
          {% if artwork.orientation == 'landscape' %}
          <img width="480" src="{{ artwork.src | prepend: '/art/' }}"/>
          {% else %}
          <img height="640" src="{{ artwork.src | prepend: '/art/' }}"/>
          {% endif %}
        </a>
        <figcaption class="center">{{artwork.medium}}</figcaption>
      </figure>
      <h3>
        {{artwork.title}}
        <small>{{ artwork.created_date | date: "%b %-d, %Y" }}</small>
      </h3>

      <p>{{artwork.description}}</p>

    </div>

    <!-- lightbox container hidden with CSS -->
    <a href="#_" class="lightbox" id="{{ artwork.title | capitalize | replace: ' ','' }}Slide">
      <img src="{{ artwork.src | prepend: '/art/' }}"/>
    </a>
    {% endfor %}
  </div>

  <div class="sideNav">
    <a onclick="plusDivs(1)">&nbsp;&#10095;&nbsp;</a>
  </div>

</div>


