body {
  background-color: $base-background-color;
  color: $base-font-color;

  background-image: image_url('subtle_white_feathers_@2X-alpha-mask.png');
  background-repeat: repeat;
}

header.page {
  @include outer-container;
}

main {
  @include outer-container;
}


h1 {
  font-size: $base-font-size * 2.4;
}
h2 {
  font-size: $base-font-size * 2;
}
h3 {
  font-size: $base-font-size * 1.8;
}
