.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

small {
  font-size: 70%;
  color: desaturate( $base-font-color, 20% );
}
